@model OSM.Models.IdentityModels.ViewModels.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
    ViewBag.Title = "Reset password";
}


<div class="admin-form">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Widget starts -->
                <div class="widget">

                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-lock"></i> Reset Password
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <!-- Login form -->
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <!-- Email -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3" for="inputEmail">Email</label>
                                    <div class="col-lg-9">
                                        @*<input type="text" class="form-control" id="inputEmail" placeholder="Email">*@
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Password</label>
                                    <div class="col-lg-9">
                                        @*<input type="text" class="form-control" id="inputEmail" placeholder="Email">*@
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="New Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-lg-3">Confirm Password</label>
                                    <div class="col-lg-9">
                                        @*<input type="text" class="form-control" id="inputEmail" placeholder="Email">*@
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Password -->

                                <!-- Remember me checkbox and sign in button -->

                                <div class="col-lg-9 col-lg-offset-3">
                                    <input type="submit" class="btn btn-danger" value="Reset Password" />
                                  
                                </div>
                                 @Html.HiddenFor(model => model.Code)
                            }

                            <br />

                           
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>


