@model OSM.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = @"مركز خطوات صغيرة";
    ViewBag.HomeMenu = "current";
    Layout = "~/Views/Shared/_ClinicLayout.cshtml";
}

<body>
    <!-- Slider -->
    <div class="slider" dir="ltr">
        <div class="flexslider">
            <ul class="slides">
                @foreach (var item in Model.HomeSlider)
                {
                    <li>
                        <img src="~/Images/HomeSlider/@item.ImageNameE" />
                        @if (!String.IsNullOrEmpty(@item.ImageDescriptionA))
                        {
                            <div class="flex-caption2"><strong>@item.ImageTitleA</strong></div>
                            <div class="flex-caption3">@Html.Raw(@item.ImageDescriptionA)</div>
                        }
                        else
                        {
                            <div class="flex-caption">@item.ImageTitleA</div>
                        }
                    </li>
                }
            </ul>
        </div>

        <!-- Book Apointment -->
        <div class="book-form">
            <div class="inner-form">
                <h4><img src="~/Content/Images/calendar.png" alt="">احجز موعدك</h4>
                <form id="contact" action="javascript:void(0)" method="post">
                    <div class="inputs">
                        <input type="text" id="MobileNumber" data-value="رقم الجوال" class="appointment" />
                        <input type="text" id="EmailAdress" data-value="البريد الالكتروني" class="appointment" onblur="validateEmail(this);" />
                        <input type="text" id="FullName" data-value="الاسم" class="appointment" />
                        <input type="text" id="Age" data-value="العمر" class="appointment" />
                        <input type="text" id="Nationality" data-value="الجنسية" class="appointment" />
                        <input type="text" id="datepicker" class="appointment" data-value="التاريخ"/>
                    </div>
                    <input id="submit" type="button" value="احجز" onclick="SaveAppointment()"/>
                </form>

            </div>
        </div>
        <!-- End Book Apointment -->
    </div>
    <!-- End SLider -->

    <!-- Container -->
    <div class="wrapper">

        <!-- Recent Works -->
        <div class="features dark">
            <div class="features-items column3">
                <a href="#">
                    <div class="service-item">
                        <a href="#" class="service-img"><img src="~/Content/images/scope.png" alt=""></a>
                    </div>
                    <h4>تعرف علينا</h4>
                    <div class="line"></div>
                    <p>يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها  </p>
                </a>
            </div>
            <div class="features-items column3">
                <a href="#">
                    <div class="service-item">
                        <a href="#" class="service-img"><img src="~/Content/images/care.png" alt=""></a>
                    </div>
                    <h4>مميزاتنا</h4>
                    <div class="line"></div>
                    <p>يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها  </p>
                </a>
            </div>
            <div class="features-items column3">
                <a href="#">
                    <div class="service-item">
                        <a href="#" class="service-img"><img src="~/Content/images/diograph.png" alt=""></a>
                    </div>
                    <h4>معرض الصور</h4>
                    <div class="line"></div>
                    <p>يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها  </p>
                </a>
            </div>
            <div class="features-items column3">
                <a href="#">
                    <div class="service-item">
                        <a href="#" class="service-img"><img src="~/Content/images/ambulance.png" alt=""></a>
                    </div>
                    <h4>اتصل بنا</h4>
                    <div class="line"></div>
                    <p>يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها  </p>
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <!-- End Recent Works -->

        <div class="row5 dark">
            <div class="row5-text column8">
                <h4>@Model.HomeText.TitleA</h4>
                <div class="border"></div>
                <div>
                    @Html.Raw(@Model.HomeText.DescriptionA)
                </div>
                @*<img src="~/Content/images/row5img.jpg" alt="">
                <p>
                    يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها احدث التقنيات العلاجية وذلك من خلال:
                    *العلاج اليدوى
                    *الجهاز العنكبوتى(سبايدر)
                    *الجهاز المعلق(اوقل)
                    *جهاز الروليتور
                    *غرفة العلاج بالأكسيجين المضغوط
                    * البدّالة المزدوجة
                    *جهاز محاكاة المشى

                    جهاز السير المضاد للجاذبية  - جديد
                    *وأجهزة أخرى حسب حالة الطفل
                    *يقدم المركز جلسات يومية يحددها الاخصائى ولمدة أربعة أسابيع

                    بإشراف رائد العلاج الطبيعي المكثف للأطفال في العالم العربي الدكتور الشهير / وائل سلام
                </p>
                <p>
                    يسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها احدث التقنيات العلاجية وذلك من خلال:
                    *العلاج اليدوى
                    *الجهاز العنكبوتى(سبايدر)
                    *الجهاز المعلق(اوقل)
                    *جهاز الروليتور
                    *غرفة العلاج بالأكسيجين المضغوط
                    * البدّالة المزدوجة
                    *جهاز محاكاة المشى

                    جهاز السير المضاد للجاذبية  - جديد
                    *وأجهزة أخرى حسب حالة الطفل
                    *يقدم المركز جلسات يومية يحددها الاخصائى ولمدة أربعة أسابيع

                    بإشراف رائد العلاج الطبيعي المكثف للأطفال في العالم العربي الدكتور الشهير / وائل سلاميسر مركز((خطوات صغيرة)) للعلاج الطبيعى المكثف للأطفال أن يقدم لحالات الشلل الدماغى والإعاقات الحركية بأنواعها احدث التقنيات العلاجية وذلك من خلال:
                    *العلاج اليدوى
                    *الجهاز العنكبوتى(سبايدر)
                    *الجهاز المعلق(اوقل)
                    *جهاز الروليتور
                    *غرفة العلاج بالأكسيجين المضغوط
                    * البدّالة المزدوجة
                    *جهاز محاكاة المشى

                    جهاز السير المضاد للجاذبية  - جديد
                    *وأجهزة أخرى حسب حالة الطفل
                    *يقدم المركز جلسات يومية يحددها الاخصائى ولمدة أربعة أسابيع

                    بإشراف رائد العلاج الطبيعي المكثف للأطفال في العالم العربي الدكتور الشهير / وائل سلام
                </p>*@
            </div>
            <div class="stats column4">
                <h4>فيديو مميز</h4>
                <div class="border"></div>
                <iframe width="100%" height="280" src=@Model.FeaturedVideo.VideoUrl frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="clear"></div>
        </div>
        <div class="border"></div>

        <div class="carousel" dir="ltr">
            <h4 class="cat-title ">احدث الاخبار</h4>
            <div class="border"></div>
            <!-- Carousel -->
            <div class="slider1">
                @foreach (var item in Model.TopNews)
                {
                    <div class="slide">
                        <div class="view view-sixth">
                            @if ((@item.IsVideo))
                            {
                                <iframe width="370" height="245" src=@item.VideoUrl frameborder="0" allowfullscreen></iframe>
                            }
                            else
                            {
                                <img src="~/Images/News/@item.ImageName" />
                            }
                            <div class="mask">
                                <h2>@item.CreatedBy</h2>
                                <div style="height: 120px; overflow:hidden">@Html.Raw(@item.DescriptionA)</div>
                                <a href="/Clinic/SingleNews?id=@item.Id" class="info">للمزيد</a>
                            </div>
                        </div>
                        <div class="desc">
                            <h4>@item.TitleA</h4>

                        </div>
                    </div>
                }
            </div>
            <!-- End jCarousel -->
        </div>

        <div class="border"></div>
        <div class="row5 dark margBot50">
            <div class="stats column6">
                <h4>قالوا عنا</h4>
                <div class="border"></div>
                <iframe width="100%" height="280" src=@Model.KaluAnaa.VideoUrl frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="msg-form column5 ">
                <h4>تواصل معنا</h4>
                <div class="border"></div>
                <form action="#" id="contactus">
                    <input type="text" id="name" data-value="الاسم" class="contactus">
                    <input type="text" id="email" data-value="البريد الالكتروني" class="contactus" onblur="validateEmail(this);">
                    <input type="text" id="phone" data-value="رقم التواصل" class="contactus">
                    <textarea name="message" id="message" data-value="الرسالة" class="contactus"></textarea>
                    <input type="button" value="ارسال" onclick="SendMessage();">
                </form>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <!-- End Wrapper -->

    <script type="text/javascript" src="~/Scripts/Functions/scriptIST.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $('.flexslider').flexslider();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.slider1').bxSlider({
                slideWidth: 370,
                minSlides: 1,
                maxSlides: 3,
                slideMargin: 30,
                auto: false
            });
            $("#MobileNumber").mask("(999) 999-9999");
            $("#phone").mask("(999) 999-9999");
            //$('#datepicker-example1').attr('readonly', 'readonly');
            debugger 
            var unavailableDays = '* * * ' + '@Model.UnavailableDays';
            if (unavailableDays == '* * * *') {
                $('#datepicker').Zebra_DatePicker();
            } else {
                $('#datepicker').Zebra_DatePicker({
                    disabled_dates: [unavailableDays]     // all days, all monts, all years as long as the weekday is 0 or 6 (Sunday or Saturday)
                });
            }
            
        });
    </script>
</body>
