@model OSM.Web.ViewModels.ES.NewsViewModel
@{
    Layout = "~/Views/Shared/_ClinicLayout.cshtml";
    ViewBag.Title = "معرض الصور و الفيديو";
    ViewBag.NewsMenu = "current";
}
<div class="wrapper dark margTop100">
    <div class="main-blog column12">
        <div class="blog-box singlenewspage">

            @if ((@Model.SingleNews.IsVideo))
            {
                <iframe width="380" height="252" src=@Model.SingleNews.VideoUrl frameborder="0" allowfullscreen style="margin-right: 396px;"></iframe>
            }
            else
            {
                <img class="blog-boxMain" src="~/Images/News/@Model.SingleNews.ImageName" alt="">
            }

            <div class="blog-textMain">
                <h4>@Model.SingleNews.TitleA</h4>
                <div class="border"></div>
                <div class="post-meta">
                    <div class="post-user">@Model.SingleNews.CreatedBy</div>
                    <div class="post-date">@Model.SingleNews.CreatedDate.ToShortDateString()</div>
                    <div class="clear"></div>
                </div>
                <div class="post-text-detail">@Html.Raw(@Model.SingleNews.DescriptionA)</div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
