@model OSM.Web.ViewModels.DetentionAuthority.DetentionAuthorityViewModel


@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar">
    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-left">Detention Authorities</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->
    <!-- Matter -->

    <div class="matter">
        <div class="container">
            <!-- Dashboard Graph starts -->
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-head">
                            <div class="pull-left">Detention Authority Info</div>
                            <div class="widget-icons pull-right">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div class="padd">

                                @using (Html.BeginForm("AddEdit", "DetentionAuthority", FormMethod.Post, new { @id = "DetentionAuthorityForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                    @Html.HiddenFor(model => model.DetentionAuthority.DetentionAuthorityId)
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label textAlignLeft">Detention Authority Name</label>
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.DetentionAuthority.DetentionAuthorityName, new { @class = "form-control mandatory", @placeholder = "Detention Authority Name", @id = "DetentionAuthorityName" })
                                            @Html.ValidationMessageFor(m => m.DetentionAuthority.DetentionAuthorityName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label textAlignLeft">Detention Authority Description</label>
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.DetentionAuthority.DetentionAuthorityDescription, new { @class = "form-control mandatory", @placeholder = "Detention Authority Description", @id = "DetentionAuthorityDesc" })
                                            @Html.ValidationMessageFor(m => m.DetentionAuthority.DetentionAuthorityDescription)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <a href="~/DetentionAuthority/Index">
                                            <div class="col-lg-2 pull-right">
                                                <button id="signupuser" type="button" class="btn btn-primary btn-block FontSize16">Cancel</button>
                                            </div>
                                        </a>
                                        <div class="col-lg-2 pull-right">
                                            <button id="signupuser" type="submit" class="btn btn-success btn-block FontSize16">Save</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Matter ends -->

</div>
