@model OSM.Web.ViewModels.CaseStatus.CaseStatusViewModel


@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar">
    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-left">Case Status</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->
    <!-- Matter -->

    <div class="matter">
        <div class="container">
            <!-- Dashboard Graph starts -->
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-head">
                            <div class="pull-left"> Case Status Info</div>
                            <div class="widget-icons pull-right">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div class="padd">

                                @using (Html.BeginForm("AddEdit", "CaseStatus", FormMethod.Post, new { @id = "caseStatusForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                    @Html.HiddenFor(model => model.CaseStatus.CaseStatusId)
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label textAlignLeft">Case Status Name</label>
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.CaseStatus.CaseStatusName, new { @class = "form-control mandatory", @placeholder = "Case Status Name", @id = "CaseStatusName" })
                                            @Html.ValidationMessageFor(m => m.CaseStatus.CaseStatusName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label textAlignLeft">Case Status Description</label>
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.CaseStatus.CaseStatusDescription, new { @class = "form-control mandatory", @placeholder = "Case Status Description", @id = "CaseStatusDesc" })
                                            @Html.ValidationMessageFor(m => m.CaseStatus.CaseStatusDescription)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <a href="~/CaseStatus/Index">
                                            <div class="col-lg-2 pull-right">
                                                <button id="signupuser" type="button" class="btn btn-primary btn-block FontSize16">Cancel</button>
                                            </div>
                                        </a>
                                        @*<a href="~/CaseStatus/Index" id="signupuser" class="btn btn-primary FontSize16 anchorButtonLookUps">
                                            Cancel
                                        </a>*@
                                        <div class="col-lg-2 pull-right">
                                            <button id="signupuser" type="submit" class="btn btn-success btn-block FontSize16">Save</button>
                                        </div>
                                        
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Matter ends -->

</div>
